################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SourcingPortal/v16/.suo
/.vs/Frontend/v16/.suo
/.vs/SourcingPortal/FileContentIndex/0a454820-c288-4d6e-841d-09e2972b38c1.vsidx
/.vs/SourcingPortal/FileContentIndex/21743064-c9c3-4920-a502-cac557332392.vsidx
/.vs/SourcingPortal/FileContentIndex
/App/assets/global/img/icons8-close-30.png
