USE [SourcingPortal]
GO
/****** Object:  StoredProcedure [dbo].[RFQ_ReInviteVendor]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[RFQ_ReInviteVendor]
GO
/****** Object:  StoredProcedure [dbo].[RFQfetchParameter]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[RFQfetchParameter]
GO
/****** Object:  StoredProcedure [dbo].[RFQFetchQuotedPriceReport]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[RFQFetchQuotedPriceReport]
GO
/****** Object:  StoredProcedure [dbo].[FetchRfiRfqSubjectForReport]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[FetchRfiRfqSubjectForReport]
GO
/****** Object:  StoredProcedure [dbo].[fetchRFQComprativeDetails]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[fetchRFQComprativeDetails]
GO
/****** Object:  StoredProcedure [dbo].[fetchRFQVersions]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[fetchRFQVersions]
GO
/****** Object:  StoredProcedure [dbo].[RFQQuotedComponentPriceinsert]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[RFQQuotedComponentPriceinsert]
GO
/****** Object:  StoredProcedure [dbo].[RFQQuotedPriceinsert]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[RFQQuotedPriceinsert]
GO
/****** Object:  StoredProcedure [dbo].[RFQQuotedPriceinsertforsubmit]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[RFQQuotedPriceinsertforsubmit]
GO
/****** Object:  StoredProcedure [dbo].[validateUser]    Script Date: 11/30/2016 19:37:50 ******/
DROP PROCEDURE [dbo].[validateUser]
GO
/****** Object:  StoredProcedure [dbo].[validateUser]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--validateUser 'sunil.pandey@agileapt.com', '1234','http://localhost'               
  
  
CREATE PROCEDURE [dbo].[validateUser]  
      @LoginID  NVARCHAR(200) ,  
      @Password VARCHAR(50) ,  
      @LinkUrl  NVARCHAR(100),
      @MachineIP nvarchar(50)  
AS  
     BEGIN  
         DECLARE @AuthenticationToken NVARCHAR(50);  
         DECLARE @ValidUrl NVARCHAR(100);  
         SET @AuthenticationToken = '';  
         SET @Password = dbo.Encrypt(@Password);  
         IF EXISTS ( SELECT 'x'  
                     FROM UserLoginDetails  
                     WHERE LoginID = @LoginID  
                           AND  
                           Password = @Password  
                           AND  
                           IsActive = 'Y'  
                   )  
             BEGIN  
                 SELECT @ValidUrl = b.LoginUrl  
                 FROM UserLoginDetails AS a LEFT OUTER JOIN CustomerMaster AS b ON a.CustomerID = b.CustomerID  
                 WHERE LoginID = @LoginID  
                       AND  
                       Password = @Password  
                       AND  
                       IsActive = 'Y';  
             END;  
         ELSE  
             BEGIN  
                 IF EXISTS ( SELECT 'x'  
                             FROM BidVendorDetails AS a JOIN BidDetails AS b ON a.BidId = b.BidId  
                             WHERE b.Status = 'OPEN'  
                           )  
                     BEGIN  
                         SELECT @ValidUrl = c.LoginUrl  
                         FROM BidVendorDetails AS a JOIN BidDetails AS b ON a.BidId = b.BidId  
                                                    LEFT OUTER JOIN CustomerMaster AS c ON b.CustomerID = c.CustomerID  
                         WHERE b.Status = 'OPEN'  
                               AND  
                               a.EmailId = @LoginID  
                               AND  
                               a.BidPassword = @Password;  
                     END;  
             END;  
         IF ( @ValidUrl = @LinkUrl )  
             BEGIN  
                 IF EXISTS ( SELECT 'x'  
                             FROM UserLoginDetails  
                             WHERE LoginID = @LoginID  
                                   AND  
                                   Password = @Password  
                                   AND  
                                   IsActive = 'Y'  
                           )  
                     BEGIN  
                         SELECT @AuthenticationToken = REPLACE(NEWID() , '-' , '');  
                         UPDATE UserLoginDetails  
                                SET AuthenticationToken = @AuthenticationToken  
                         WHERE LoginID = @LoginID;             
                         ---change by pooja--            
                         IF EXISTS ( SELECT 'x'  
                                     FROM UserLoginDetails  
                                     WHERE LoginID = @LoginID  
                                           AND  
                                           ( RoleID = 1  
                                             OR  
                                             RoleID = 2 )  
                                   )  
                             BEGIN  
                                 SELECT dbo.Encrypt(UserID) AS UserID , 'Y' AS isValidUser ,  
                                                                               CASE(RoleID)  
                                                                                   WHEN '3'  
                                                                                   THEN 'V'  
                                                                                   ELSE 'E'  
                                                                               END AS UserType , @ValidUrl AS LinkUrl , dbo.ENCRYPT(@AuthenticationToken) AS AuthenticationToken , 0 AS BidTypeIID , RoleID , 0 AS BidID  
                                 FROM UserLoginDetails  
                                 WHERE LoginID = @LoginID  
                                AND  
                                       Password = @Password  
                                       AND  
                                       IsActive = 'Y'  
                                       AND  
                                       RoleID IN ( 1 , 2  
                                                 );  
                                                 INSERT INTO LoginHistory ( UserId , LoginDate , ActionStatus ,MachineIP 
                                                          )  
                                 VALUES ( @LoginID , GETDATE() , 'Y',@MachineIP)  
                             END;  
                         ELSE  
                             BEGIN  
                                 SELECT dbo.Encrypt(UserID) AS UserID , 'Y' AS isValidUser ,  
                                                                               CASE(RoleID)  
                                                                                   WHEN '3'  
                                                                                   THEN 'V'  
                                                                                   ELSE 'E'  
                                                                               END AS UserType , @ValidUrl AS LinkUrl , dbo.ENCRYPT(@AuthenticationToken) AS AuthenticationToken , 0 AS BidTypeIID , RoleID , 0 AS BidID  
                                 FROM UserLoginDetails  
                                 WHERE LoginID = @LoginID  
                                       AND  
                                       Password = @Password  
                                       AND  
                                       IsActive = 'Y';  
                                       INSERT INTO LoginHistory ( UserId , LoginDate , ActionStatus ,MachineIP 
                                                          )  
                                 VALUES ( @LoginID , GETDATE() , 'Y',@MachineIP)  
                             END;  
                     END;  
                 ELSE  
                     BEGIN  
                         IF EXISTS ( SELECT 'x'  
                                     FROM BidVendorDetails AS a JOIN BidDetails AS b ON a.BidId = b.BidId  
                                     WHERE b.Status = 'OPEN'  
                                           AND  
                                           a.EmailId = @LoginID  
                                           AND  
                                           a.BidPassword = @Password  
                                   )  
                             BEGIN  
                                 SELECT @AuthenticationToken = REPLACE(NEWID() , '-' , '');  
                                 UPDATE BidVendorDetails  
                                        SET AuthenticationToken = @AuthenticationToken  
                                 WHERE EmailID = @LoginID  
                                       AND  
                                       BidPassword = @Password;  
                                 SELECT dbo.Encrypt(a.VendorID) AS UserID , 'Y' AS isValidUser , @ValidUrl AS LinkUrl , 'P' AS UserType , ISNULL(a.BidId , 0) AS BidID , dbo.ENCRYPT(@AuthenticationToken) AS AuthenticationToken , ISNULL(B.BidTypeID , 0) AS 
BidTypeID  
                                 FROM BidVendorDetails AS a(nolock) LEFT OUTER JOIN BidDetails AS b ON a.BidId = b.BidId  
                                 WHERE EmailID = @LoginID  
                                       AND  
                                       BidPassword = @Password;  
                                       INSERT INTO LoginHistory ( UserId , LoginDate , ActionStatus ,MachineIP 
                                                          )  
                                 VALUES ( @LoginID , GETDATE() , 'Y',@MachineIP)  
                             END;  
                         ELSE  
                             BEGIN  
                                 SELECT '0' AS UserID , 'N' AS isValidUser , '' AS UserType , 0 AS BidID , dbo.Encrypt(@AuthenticationToken) AS AuthenticationToken , '' AS LinkUrl;  
                                 INSERT INTO LoginHistory ( UserId , LoginDate , ActionStatus ,MachineIP 
                                                          )  
                                 VALUES ( @LoginID , GETDATE() , 'N' ,@MachineIP 
                                        );  
                             END;  
                     END;  
             END;  
         ELSE  
             BEGIN  
                 IF EXISTS ( SELECT 'x'  
                             FROM RFQRFIVendorDetails  
                             WHERE EmailId = @LoginID  
                                   AND  
                                   RFQRFIPassword = @Password  
                                   AND  
                                   DeadLineDt >= CONVERT(DATE , GETDATE())  
                                   AND  
                                   RFIRFQStatus != 'x'  
                           )  
                     BEGIN  
                         SELECT @AuthenticationToken = REPLACE(NEWID() , '-' , '');  
                         UPDATE RFQRFIVendorDetails  
                                SET AuthenticationToken = @AuthenticationToken  
                         WHERE EmailID = @LoginID  
                               AND  
                               RFQRFIPassword = @Password;  
                         SELECT a.VendorID AS VendorID , dbo.Encrypt(b.UserID) AS UserID , RFQRFIId , 'Y' AS isValidUser , 'P' AS UserType , @ValidUrl AS LinkUrl , 0 AS BidID , dbo.ENCRYPT(@AuthenticationToken) AS AuthenticationToken , 0 AS BidTypeID  
                         ,isnull(Version,0) as VersionID FROM RFQRFIVendorDetails AS a(nolock) LEFT OUTER JOIN UserLoginDetails AS b ON a.VendorId = b.VendorID  
                         WHERE a.EmailID = @LoginID  
                               AND  
                               RFQRFIPassword = @Password;  
                               INSERT INTO LoginHistory ( UserId , LoginDate , ActionStatus  
                                                          )  
                                 VALUES ( @LoginID , GETDATE() , 'Y')  
                     END;  
                 ELSE  
                     BEGIN  
                         SELECT '0' AS UserID , 'N' AS isValidUser , '' AS UserType , 0 AS BidID , dbo.Encrypt(@AuthenticationToken) AS AuthenticationToken , '' AS LinkUrl;  
                         INSERT INTO LoginHistory ( UserId , LoginDate , ActionStatus  
                                  )  
       VALUES ( @LoginID , GETDATE() , 'N'  
                );  
                     END;  
             END;  
           
     END;
GO
/****** Object:  StoredProcedure [dbo].[RFQQuotedPriceinsertforsubmit]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RFQQuotedPriceinsertforsubmit 'print 1',4,30,1,'MMX Product & Services','mmx@mmx.com'            
CREATE procedure [dbo].[RFQQuotedPriceinsertforsubmit](                    
@ProductDetails varchar(max),                                        
@RFQID int,                                        
@VendorId int,              
@FromUserId varchar(20) ,            
@UserName as varchar(100),              
@UserEmail as nvarchar(250),  
@CustomerID int  ,   
@RFQVersionId int                                    
)                                        
as                                        
                                      
begin                                      
begin try                                    
begin Transaction                
                 
delete from RFQVendor where RFQId=@RFQID and BOQparentId=0 and SeqNo=0 and VendorID = @VendorId and Version=@RFQVersionId                
                               
EXEC (@ProductDetails)                                    
update ActivityDetails set Status='Y' where VendorId=@VendorId  and RFQId=@RFQID              
Update RFQRFIVendorDetails set RFIRFQStatus = 'C',ResponseDate=GETDATE() where RFQRFIId='RFQ-'+cast(@RFQID as varchar) and VendorId=@VendorId                         
    DECLARE @MAILBODY as varchar(max)                                        
    DECLARE @ToMailID as varchar(250)                                      
            DECLARE @ToUserName as varchar(100)              
            DECLARE @ToUserID as varchar(100)              
            DECLARE @RFQSubject as Varchar(300)                          
            DECLARE @MailSubject as Varchar(500)              
            DECLARE @ClosureDate as Varchar(500)  
            Declare @VendorName as varchar(100)                
                          
select Top 1  @ToUserID =c.UserID, @ToUserName =c.UserName,@ToMailID =c.EmailID,@RFQSubject=a.ActivityDescription,@ClosureDate=RFIClosureDate             
,@VendorName=b.VendorName  from             
ActivityDetails (nolock) a  
Left Outer Join VendorMaster b on b.VendorID=a.VendorId               
Left Outer join UserLoginDetails (nolock) c on c.UserID=a.FromUserId               
where a.RFQID=@RFQID  and a.VendorId=@VendorId         
              
Set @MailSubject ='RFQ- ' + CONVERT(varchar(11), @RFQID) + ': Response From- '+ @VendorName +' : ' + @RFQSubject;    
--insert into activitydetails (BidId,FromUserId,ToUserId,VendorID,ReceiptDt,ActivityDescription,Status,LinkURL,Remarks,RFQId,RFQClosureDate,CompletionDt,CustomerID)                        
--  values  (0,'0',@FromUserId,@VendorId,getdate(),@MailSubject,'N','RFQReport.html?RFQID=' + CAST(@RFQId as varchar)+'&VendorId='+ CAST(@VendorId as varchar),NULL,@RFQId,NULL,GETDATE(),@CustomerID)    
  update ActivityDetails set CompletionDt=GETDATE() where RFQId =@RFQId and VendorId=@VendorId       
          SET @MAILBODY='<font color=red face=Calibri size=3><B>NOTE : THIS IS AN AUTO-GENERATED MAIL . PLEASE DO NOT REPLY.</B></font><br><br>' ;                                                                    
               SET @MAILBODY=@MAILBODY + '<font face=Calibrisize=3 color=#000000><b>Dear  ' + @ToUserName + ',</b></font><BR><BR>' ;                                     
               SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>RFQ response against mentioned subject is recieved from '+ @VendorName +'. </font><BR><BR>'              
                             
                      
               SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>Regards<BR/></font><BR><BR>';                                                
               SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>' + @VendorName + '</font><BR>'                                    
               SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>' + @UserEmail + '</font><BR>'                                             
                                                                      
               EXEC msdb.dbo.sp_send_dbmail                                    
               @profile_name =  'AuctionMail',                                 
               @recipients=@ToMailID,                                    
               --@copy_recipients = @CCMAILID,                                    
     @blind_copy_recipients ='vickrant.chhetri@agileapt.com;sunil.pandey@agileapt.com',                                    
      @subject = @MailSubject,                                    
              @body = @MAILBODY,                                    
               @body_format = 'HTML'               
commit Transaction          
select 1 as RFQID                                    
    end try                                    
                                        
   begin catch                           
    rollback transaction                                    
    select 0 as RFQID                           
    end catch;                                          
end
GO
/****** Object:  StoredProcedure [dbo].[RFQQuotedPriceinsert]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RFQQuotedPriceinsert](                           
@ProductDetails varchar(8000),                          
@RFQID int,                          
@VendorId int,
@RFQVersionId int                        
)                          
as                          
                        
begin                        
begin try                      
begin Transaction                      
 delete RFQVendor where RFQId=@RFQID and BOQparentId=0 and SeqNo=0 and VendorID=@VendorId and Version=@RFQVersionId                  
EXEC (@ProductDetails)                          
                       
Update RFQRFIVendorDetails set RFIRFQStatus = 'R' where RFQRFIId='RFQ-'+cast(@RFQID as varchar) and VendorId=@VendorId                      
commit Transaction                      
select 1 as RFQID                      
    end try                      
                          
   begin catch                       
    rollback transaction                      
    select 0 as RFQID                      
    end catch;                            
end
GO
/****** Object:  StoredProcedure [dbo].[RFQQuotedComponentPriceinsert]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RFQQuotedComponentPriceinsert](                     
@ProductDetail varchar(8000),                    
@RFQID int,                    
@VendorId int,              
@BOQparentId int,      
@Price numeric(18, 2) ,  
@PriceTax numeric(18,2)  , 
@RFQVersionId int              
)                    
as                    
                  
begin                 
--  begin try                
--begin Transaction      
delete from RFQVendor where RFQId=@RFQID  and VendorID= @VendorId and RFQParameterId=@BOQparentId and SeqNo=0 and  BOQparentId=0 and Version=@RFQVersionId      
delete RFQVendor where RFQId=@RFQID  and SeqNo!=0 and BOQparentId=@BOQparentId and VendorID= @VendorId and Version=@RFQVersionId       
Insert into RFQVendor(RFQId,RFQParameterId,RFQVendorPrice,RFQVendorPricewithTax,VendorID,SeqNo,BOQparentId,Version) values(@RFQID,@BOQparentId,@Price,@PriceTax,@VendorId,0,0,@RFQVersionId)      
EXEC (@ProductDetail)      
      
                    
                   
               
     --commit Transaction                      
select 1 as RFQID                
--end try                
                    
--   begin catch                 
--    rollback transaction                
--    select 0 as RFQID                
--    end catch;                          
end
GO
/****** Object:  StoredProcedure [dbo].[fetchRFQVersions]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--fetchRFQVersions  44          
CREATE procedure [dbo].[fetchRFQVersions]               
@RFQId int              
as              
begin              
select Distinct (Version) as RFQVersionId from RFQVendor  
where RFQId=@RFQId  order by Version desc
end
GO
/****** Object:  StoredProcedure [dbo].[fetchRFQComprativeDetails]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--fetchRFQComprativeDetails 44,'','','..',1          
CREATE proc [dbo].[fetchRFQComprativeDetails]          
@RFQID int,          
@dateto     NVARCHAR(11) ,              
@dateFrom    NVARCHAR(11) ,              
@UserID     NVARCHAR(10),
@RFQVersionId  int
as          
select  distinct c.VendorName,a.VendorID from RFQVendor  a          
left outer join RFQMaster b on b.RFQId=a.RFQId          
left outer join VendorMaster c on a.VendorID=c.VendorID          
 WHERE a.RFQId = ISNULL(NULLIF(@RFQID , 0) , a.RFQId)              
                                    
                       AND              
                       b.RFQDeadline >= ISNULL(NULLIF(CONVERT(DATETIME , @dateto , 103) , '') , b.RFQDeadline)              
                       AND              
                       b.RFQDeadline <= ISNULL(NULLIF(CONVERT(DATETIME , @dateFrom , 103) , '') , b.RFQDeadline)              
                       and RFQConfiguredBy=dbo.DECRYPT(@UserID) and a.[Version]=@RFQVersionId  order By a.VendorID--and b.CompletionDt is not null;            
                                 
                                 
 create table #temptbl      
(      
 RFQShortName nvarchar(200),      
 VendorID int,
 Quantity decimal,     
 RFQVendorPrice decimal(18,2),  
 RFQVendorPricewithTax decimal(18,2),      
 RFQBoq char(1),      
 RFQParameterId int,      
 SeqNo int ,    
 BOQparentId int    
      
)     
DECLARE @RFQShortName nvarchar(200)       
DECLARE @VendorID int       
DECLARE @RFQVendorPrice decimal(18,2)  
Declare @Quantity decimal(18,2)  
DECLARE @RFQVendorPricewithTax decimal(18,2)       
DECLARE @RFQBoq char(1)        
DECLARE @RFQParameterId int             
DECLARE @SeqNo int      
DECLARE @BOQparentId int     
    
declare @RFQPID int     
set @RFQPID=0    
    
 DECLARE @CursorMove CURSOR       
  DECLARE @CursorMove1 CURSOR      
 SET @CursorMove = CURSOR FOR select a.RFQShortName,a.VendorID,a.RFQVendorPrice,a.RFQVendorPricewithTax,a.RFQuantity,a.RFQBoq,a.RFQParameterId,a.SeqNo,a.BOQparentId   
 from RFQVendor a          
  left outer join RFQMaster b on a.RFQId=b.RFQId          
  
 WHERE a.RFQId = ISNULL(NULLIF(@RFQID , 0) , a.RFQId)        
                                    
                       AND              
                       b.RFQDeadline >= ISNULL(NULLIF(CONVERT(DATETIME , @dateto , 103) , '') , b.RFQDeadline)              
                       AND              
                       b.RFQDeadline <= ISNULL(NULLIF(CONVERT(DATETIME , @dateFrom , 103) , '') , b.RFQDeadline)              
                       and RFQConfiguredBy=dbo.DECRYPT(@UserID) and BOQparentId=0 and a.[Version]=@RFQVersionId  
                       order by VendorID,SeqNo,BOQparentId,a.Version desc
                       
    OPEN @CursorMove                            
    FETCH NEXT                            
    FROM @CursorMove INTO @RFQShortName,@VendorID,@RFQVendorPrice,@RFQVendorPricewithTax,@Quantity,@RFQBoq,@RFQParameterId,@SeqNo,@BOQparentId    
     WHILE @@FETCH_STATUS = 0                            
     BEGIN     
         
 --   if(@RFQBoq='Y')    
 --    begin      
        
	--set @RFQPID=@RFQParameterId    
    insert into #temptbl    
    select @RFQShortName,@VendorID,@Quantity,(@RFQVendorPrice * @Quantity),(@RFQVendorPricewithTax * @Quantity),@RFQBoq,@RFQParameterId, @SeqNo, @BOQparentId    
        
   -- end    
    --if(@RFQBoq='')    
    --begin    
       
    --if(@RFQPID=@BOQparentId)    
       
    --begin    
    --insert into #temptbl    
    --select @RFQShortName,@VendorID,@Quantity,(@RFQVendorPrice * @Quantity),(@RFQVendorPricewithTax * @Quantity),@RFQBoq,@RFQParameterId, @SeqNo, @BOQparentId    
    --end    
    -- end    
        
    FETCH NEXT            
    FROM @CursorMove INTO @RFQShortName,@VendorID,@RFQVendorPrice,@RFQVendorPricewithTax,@Quantity,@RFQBoq,@RFQParameterId, @SeqNo, @BOQparentId    
    END      
     CLOSE @CursorMove            
    DEALLOCATE @CursorMove     
       
 --  SET @CursorMove1 = CURSOR FOR select a.RFQShortName,a.VendorID,a.RFQVendorPrice,a.RFQVendorPricewithTax,a.RFQuantity,a.RFQBoq,a.RFQParameterId,a.SeqNo,a.BOQparentId from RFQVendor a          
 -- left outer join RFQMaster b on a.RFQId=b.RFQId          
 --WHERE a.RFQId = ISNULL(NULLIF(@RFQID, 0) , a.RFQId)              
                                    
 --                      AND              
 --                      b.RFQDeadline >= ISNULL(NULLIF(CONVERT(DATETIME , @dateto , 103) , '') , b.RFQDeadline)              
 --                      AND              
 --                      b.RFQDeadline <= ISNULL(NULLIF(CONVERT(DATETIME ,@dateFrom , 103) , '') , b.RFQDeadline)      
 --                      and RFQConfiguredBy=dbo.DECRYPT(@UserID) order by VendorID,SeqNo,BOQparentId --and b.CompletionDt is not null;                             
 --   OPEN @CursorMove1                            
 --   FETCH NEXT                            
 --   FROM @CursorMove1 INTO @RFQShortName,@VendorID,@Quantity,@RFQVendorPrice,@RFQVendorPricewithTax,@RFQBoq,@RFQParameterId, @SeqNo, @BOQparentId    
             
 --    WHILE @@FETCH_STATUS = 0                            
 --    BEGIN    
 --     if(@RFQBoq='N')    
 --    begin      
	--	insert into #temptbl    
	--	select @RFQShortName,@VendorID,(@RFQVendorPrice * @Quantity),(@RFQVendorPricewithTax * @Quantity),@Quantity,@RFQBoq,@RFQParameterId, @SeqNo, @BOQparentId    
 --    end    
 --   FETCH NEXT            
 --   FROM @CursorMove1 INTO @RFQShortName,@VendorID,@RFQVendorPrice,@RFQVendorPricewithTax,@Quantity,@RFQBoq,@RFQParameterId, @SeqNo, @BOQparentId    
 --END       
               
 --   CLOSE @CursorMove1            
 --   DEALLOCATE @CursorMove1     
    select * from  #temptbl     
    drop table    #temptbl
GO
/****** Object:  StoredProcedure [dbo].[FetchRfiRfqSubjectForReport]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--FetchRfiRfqSubjectForReport 'RFQ','..'    
CREATE Procedure [dbo].[FetchRfiRfqSubjectForReport]    
      @SubjectFor varchar(10),    
      @UserID nvarchar(max)    
          
as    
Set @UserID=dbo.DECRYPT(@UserID)    
if(@SubjectFor = 'RFI')    
begin    
 select RFISubject as RFIRFQSubject,RFIId as RfiRfqID   
 from RFIMaster where RFIConfiguredBy=@UserID --and RFIDeadline<=GETDATE() order by RFIId asc    
end    
else if(@SubjectFor = 'RFQ')    
begin    
     select RFQSubject as RFIRFQSubject,cast(RFQId as bigint) as RfiRfqID    
     from RFQMaster where RFQConfiguredBy=@UserID --and RFQDeadline <= GETDATE() order by RFQId asc    
end
GO
/****** Object:  StoredProcedure [dbo].[RFQFetchQuotedPriceReport]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RFQFetchQuotedPriceReport  31,43          
CREATE procedure [dbo].[RFQFetchQuotedPriceReport]              
@VendorID int,              
@RFQId int,
@RFQVersionId int              
as              
begin              
select isnull(a.VendorID,0) as VendorID,b.VendorName,isnull(a.RFQParameterId,0) as RFQParameterId,          
isnull(a.BOQparentId,0) as BOQparentId,isnull(a.RFQId,0) as RFQId,a.RFQShortName,(isnull(a.RFQVendorPrice,0) * isnull(a.RFQuantity,0)) as  RFQVendorPrice,    
(isnull(a.RFQVendorPricewithTax,0) * isnull(a.RFQuantity,0)) as  RFQVendorPriceWithTax,    
isnull(a.RFQuantity,0) as RFQuantity,a.RFQUomId,a.RFQRemark,a.RFQDescription,a.RFQDelivery,a.RFQBoq,isnull(a.SeqNo,0) as SeqNo,    
isnull(a.VendorAttachment, '') as VendorAttachment     
from RFQVendor a              
inner join VendorMaster b on a.VendorID=b.VendorID              
where a.VendorID=@VendorID  and a.RFQId=@RFQId and a.[Version]=@RFQVersionId order by a.RFQParameterId          
end
GO
/****** Object:  StoredProcedure [dbo].[RFQfetchParameter]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RFQfetchParameter 41 ,31 ,0                    
CREATE procedure  [dbo].[RFQfetchParameter]                                          
    @RFQId int,                  
    @VendorID int,
    @RFQVersionId int                                         
                                              
AS                                          
     BEGIN                                          
                                                  
       select a.RFQParameterId, a.RFQId ,ISNULL(a.RFQShortName ,'' ) AS RFQShortName,ISNULL(b.RFQVendorPrice,0)as RFQVendorPrice , ISNULL(a.RFQTargetPrice,0) as   RFQTargetPrice  ,                            
         isnull(a.RFQuantity,0) as  RFQuantity,isnull(a.RFQUomId,'') as RFQUomId ,isnull(a.RFQRemark,'') as  RFQRemark,                                  
         isnull(a.RFQDescription,'')                                    
                                   
         as RFQDescription ,                 
         isnull(b.VendorAttachment,'') as VendorAttachment,                                       
         case(a.RFQBoq) when 'Y' then 'Yes'                                          
         when 'N' then 'NO'                                        
         else ''                 
          end as status                                          
          ,isnull(a.RFQDelivery,'') as RFQDelivery ,isnull(a.BOQparentId,0) as BOQparentId,a.SeqNo,a.RFQBoq,a.isBOQFilled,isnull(a.TAT,0) as TAT,isnull(a.AttachmentDescription,'') as AttachmentDescription,    
          isnull(a.AttachmentFile,'') as AttachmentFile,isnull(a.AttachmentSize,0) as AttachmentSize,
          isnull(b.RFQVendorPricewithTax,0) as RFQVendorPricewithTax,ISNULL(b.Version,0) as RFQVersionId 
          from RFQParameter a                              
          left outer join RFQVendor b on a.RFQParameterId=b.RFQParameterId and a.RFQId=b.RFQId and b.Version=@RFQVersionId                  
         and b.VendorID=ISNULL(NULLIF(@VendorID , '0') , b.VendorID)                      
            where                                  
           a.RFQId= @RFQId   --and a.Version=@RFQVersionId
            --and a.BOQparentId=0                                  
     END;
GO
/****** Object:  StoredProcedure [dbo].[RFQ_ReInviteVendor]    Script Date: 11/30/2016 19:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[RFQ_ReInviteVendor] 42,'31,92','30/11/2016','Invitation For Bids','..'
CREATE proc [dbo].[RFQ_ReInviteVendor](
	@RFQID int,
	@VendorIDs nvarchar(40),	
	@ExtendedDate nvarchar(12),
	@RFQSubject nvarchar(200),
	@UserId varchar(12)
)
as
Begin
Set @UserId = Dbo.DECRYPT(@UserId)
	if(@RFQID <>0)
		BEGIN TRANSaction; 
		Update RFQMaster set Version =Version +1,RFQDeadline=CONVERT(datetime,@ExtendedDate,103) where RFQId=@RFQID
		Declare @FromUserName nvarchar(100)
		Declare @FromUserEmail nvarchar(100)
		Select @FromUserName=UserName,@FromUserEmail=EmailID from UserLoginDetails where UserID=@UserId
        DECLARE @VendorIDSingle INT;  
        Declare @MAILBODY nvarchar(max)
        
        Declare @VendorName nvarchar(100)
        Declare @VendorEmail nvarchar(120)
        Declare @VendorPassword nvarchar(20)
        Declare @LinkUrl nvarchar(200)
        DECLARE @Vendors CURSOR;        
        
        Set @LinkUrl  = dbo.GetLoginUrl(@UserId)
        SET @Vendors = CURSOR  
        FOR SELECT items  
            FROM dbo.[Splitfunc](@VendorIDs, ',');  
        OPEN @Vendors;  
        FETCH NEXT FROM @Vendors INTO @VendorIDSingle;  
        WHILE @@FETCH_STATUS = 0  
            BEGIN  
				Update RFQRFIVendorDetails set Version =Version +1,DeadlineDT=convert(date,@ExtendedDate,103),RFIRFQStatus='N' where  VendorId=@VendorIDSingle and RFQRFIId='RFQ-'+CAST(@RFQID as varchar) ;
				IF @@ERROR <> 0  
				GOTO ERROR_HANDLER;
				
				Insert Into RFQVendor(VendorID,RFQParameterId,RFQId,RFQShortName,RFQVendorPrice,RFQVendorPricewithTax,RFQuantity,RFQUomId,RFQRemark,RFQDescription,RFQBoq,RFQDelivery,VendorAttachment,BOQparentId,SeqNo,Flag,Version)
				Select VendorID,RFQParameterId,RFQId,RFQShortName,RFQVendorPrice,RFQVendorPricewithTax,RFQuantity,RFQUomId,RFQRemark,RFQDescription,RFQBoq,RFQDelivery,VendorAttachment,BOQparentId,SeqNo,Flag,Version + 1
				from RFQVendor where RFQId=@RFQID and VendorID=@VendorIDSingle
				IF @@ERROR <> 0  
				GOTO ERROR_HANDLER;
				
				select @VendorName =VendorName from VendorMaster where VendorID=@VendorIDSingle
				select @VendorEmail =EmailId,@VendorPassword=dbo.DECRYPT(RFQRFIPassword) from RFQRFIVendorDetails where VendorID=@VendorIDSingle
				SET @MAILBODY='<font color=red face=Calibri size=3><B>NOTE : THIS IS AN AUTO-GENERATED MAIL . PLEASE DO NOT REPLY.</B></font><br><br>' ;                                                              
                SET @MAILBODY=@MAILBODY + '<font face=Calibrisize=3 color=#000000><b>Dear  ' + @VendorName + ',</b></font><BR><BR>' ;                               
                SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>You are re-invited for the RFQ mentioned below: </font><BR><BR/>'                           
                
                SET @MAILBODY=@MAILBODY + '<table width="80%" border="1" cellpadding="5" cellspacing="0" style="font-family: Verdana; font-size: 12px">'                              
                                  SET @MAILBODY=@MAILBODY + '<tr><td style="width:30%; font-weight: bold">RFQ Subject</td><td>' + @RFQSubject + '</td></tr>'                                       
                                  SET @MAILBODY=@MAILBODY + '</table><BR><BR>'    
                                  SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>Your User ID for this RFQ is ' + @VendorEmail + '</font><BR>'                                     
                                  SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>Your Password for this RFQ is <B>' + @VendorPassword + '</B></font><BR><BR>'                                                                    
								  SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>Please provide your responses by using link <B> <a href="'+@LinkUrl+'">Sourcing Portal </a> </B>.</font><BR><BR>'                
								  --SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>Please click <B> <a href="'+@LinkUrl+'help/RFQReponseManual.pdf">User manual</a></B> for reference.</font><BR><BR>'              
  
      
        
                                  SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>Regards<BR/></font><BR><BR>';                                          
                                  SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>' + @FromUserName + '<BR/></font><BR>'                              
                                  SET @MAILBODY=@MAILBODY + '<font face=Calibri size=3 color=#000000>' + @FromUserEmail + '<BR/></font><BR>'                                       
                 
								  
								  Set @RFQSubject = 'Re-Invitation for RFQ - '+ @RFQSubject
                                  EXEC msdb.dbo.sp_send_dbmail                              
                                  @profile_name =  'AuctionMail',                           
                                  @recipients=@VendorEmail,                                 
								  @blind_copy_recipients ='vickrant.chhetri@agileapt.com;sunil.pandey@agileapt.com',                           
								  @subject = @RFQSubject,                              
                                  @body = @MAILBODY,                                 
                                  @body_format = 'HTML' 
                    IF @@ERROR <> 0  
				GOTO ERROR_HANDLER;
                FETCH NEXT FROM @Vendors INTO @VendorIDSingle;  
            END;  
        CLOSE @Vendors;  
        DEALLOCATE @Vendors;  
        IF @@ERROR <> 0  
            GOTO ERROR_HANDLER;  
        COMMIT TRANsaction;  
        SELECT '1' AS IsSuccess;
        RETURN;  
        ERROR_HANDLER:  
        ROLLBACK TRANsaction;  
        SELECT '0' AS IsSuccess;  
        RETURN;
End

         
         
         

--For Reference

--Ec_MapSectionwithClass '33','14','10,11'
GO
