<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
  </system.web>
  <system.webServer>
	  <!--clickjacking-->
	<httpProtocol>
	  <customHeaders>
		  <add name="X-Frame-Options" value="sameorigin" />
		  <!--<add name="Content-Security-Policy" value="default-src 'self';
			   script-src 'self' https://cdnjs.cloudflare.com/ https://ajax.googleapis.com/ 'unsafe-hashes' 'sha256-tAgFle5+S6cmBmUCZ+d2Uo42SwCUKiHbPUwDr+mYqfs=';
			   style-src 'self' https://fonts.googleapis.com 'nonce-configureStyle';
			   font-src 'self' https://fonts.gstatic.com;
			   img-src *"/>-->
      </customHeaders>
	</httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="login.html"/>
      </files>
    </defaultDocument>
	  <security>
		  <requestFiltering>
			  <verbs allowUnlisted="true">
				  <add verb="OPTIONS" allowed="false"/>
			  </verbs>
		  </requestFiltering>
	  </security>
    <aspNetCore processPath="dotnet" requestTimeout="00:20:00"/>
  </system.webServer>
</configuration>