<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
  </system.web>
  <system.webServer>
	  <!--clickjacking-->
	<httpProtocol>
	  <customHeaders>
	  <add name="X-Frame-Options" value="sameorigin" />
      </customHeaders>
	</httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="login.html"/>
      </files>
    </defaultDocument>
    <aspNetCore processPath="dotnet" requestTimeout="00:20:00"/>
  </system.webServer>
</configuration>