body {
    overflow-x: hidden;
    overflow-wrap: break-word;
}


.form-horizontal .form-control-static {
    width: 100%;
}



.tab-content > .active {
    margin-right: 10%;
}



input#file-excelparameter {
    position: fixed;
    top: -120px;
}



/*abhhedev bug 52 start*/
.hovertext {
    position: relative;
}

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 200px;
        opacity: .9;
        color: rgb(6, 6, 6);
        background-color: #74A892;
        text-align: center;
        border-radius: 5px;
        padding: 5px 5px;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 2;
        right: 100%;
        bottom: 110%;
    }

    .hovertext:hover:before {
        opacity: .9;
        visibility: visible;
    }

    



.nodisplay {
    display: none;
}


.navbar-brand {
    padding: 4px !important;
}

.notextdeco {
    text-decoration: none;
}

#logoimage {
    height: 38px;
    width: 180px;
}

.linkstyle2 {
    text-decoration: none !important;
    float: left;
    margin-top: 9px
}
.txtleftnone {
    text-align: left;
    text-decoration: none !important;
}



.closebutton1 {
    float: left;
    margin-top: 3px;
    cursor: pointer;
    margin-left: 3px;
}
.closebutton2 {
    float: left;
    margin-top: -5px;
    cursor: pointer;
    margin-left: 3px;
}
.margin11pxauto {
    margin: 11px auto
}


.width120px {
    width: 120px !important;
}

.margin0auto {
    margin: 0 auto;
}