#filepthterms {
    text-decoration: none !important;
    float: left;
    margin-top: 9px
}
#closebtn {
    float: left;
    margin-top: 3px;
    cursor: pointer;
    margin-left: 3px;
}

#closebtn2 {
   float:left;
   margin-top:-5px;
   cursor:pointer;
   margin-left: 3px;
}
#filepthattach {
    text-decoration: none !important;
    float: left;
}