.navbar-brand {
    padding: 4px !important;
}
#logoimage {
    height: 38px;
    width: 180px;
}
.page-container {
    display: none
}
#attach-file {
    text-decoration: none !important;
    float:left;
    margin-top:9px;
}
#btnblue {
    width:390px!important;
}
#closebtn {
    float: left;
    margin-top: 3px;
    cursor: pointer;
    margin-left: 3px;
}
#checkbox1 {
    margin-left: -16px;
}
#collgstyle {
    margin-top: 4px;
}
#divalertSerach {
    display: none;
    text-align: center
}
#divalerterrsearch {
    display: none;
    text-align: center;
}
#modalbody1 {
    height: 400px;
    overflow-y: scroll;
}
#scroller1 {
    height: 300px;
}

#scroller2 {
    height: 400px;
}
#scrolrUOM {
    height: 250px;
    display: block !important;
}

#tblvendorlist {
    width: 100%;
}
#A {
    display: none;
}
