
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}




.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    overflow: hidden;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0px solid #ddd !important;
}

.panel-body {
    padding: 0px !important;
}

.panel {
    margin-bottom: 10px !important;
    background-color: #fff;
    border: 0px solid transparent !important;
    border-radius: 4px;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 80px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    width: 300px;
    max-width: 400px;
    padding: 10px;
    background-color: white;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

.page-quick-sidebar-wrapper {
    right: -310px;
    width: 310px;
}

    .page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
        margin-left: 0px;
    }

    .page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
        width: 310px !important;
    }

    .page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-form {
        padding: 20px 10px 15px 10px;
    }

  /*  
      inline style
*/


.alert-success {
    display: none;
}

.alert-danger {
    display: none;
}


.padding12px {
    padding: 12px !important;
}
