#A {
    display: none;
}
#logoimage {
    height: 38px;
    width: 180px;
}

.navbar-brand {
    padding: 4px !important;
}
.page-container {
    display: none
}
#filepthterms {
    text-decoration: none !important;
    float: left;
    word-break: break-all !important;
    margin-top: 9px
}
#filepthattach {
    text-decoration: none !important;
    float: left;
    word-break: break-all !important;
}
#fileattachmentforitems {
    text-decoration: none !important;
    float: left;
    word-break: break-all !important;
}
#closebtn {
    float: left;
    margin-top: 3px;
    cursor: pointer;
    margin-left: 3px;
}
#closebtn2 {
    float: left;
    margin-top: -5px;
    cursor: pointer;
    margin-left: 3px;
}
#closebtnitms {
    display-none " style="float:left;
    margin-top: -5px;
    cursor: pointer;
    margin-left: 3px;
}
#currencyparamstyle {
    text-align: left !important;
    width: 5.33333%
}
#checkbox1 {
    margin-left: -16px;
}
#divalertSerach {
    display: none;
    text-align: center;
}
#divalerterrsearch {
    display: none;
    text-align: center;
}
#enterapprover {
    margin: 11px auto
}
#filepthtermsPrev {
    text-decoration: none;
    word-break: break-all !important;
}
#filepthattachPrev {
    text-decoration: none;
    word-break: break-all !important;
}
.lblUOMstyle {
    text-align: left;
}
#modalbody1 {
    height: 400px;
    overflow-y: scroll;
}
#spinner4input {
    width: 120px;
}
#scroller1 {
    height: 300px;
}
#scroller2 {
    height: 400px;
}
#successapp {
    display: none;
}
#scrolrUOM {
    height: 250px;
    display: block !important;
}
#diverrorapp {
    display: none;
}

.tab-content > .active {
    margin-right: 10%;
   
}

/*mobile specific css*/

@media only screen and (max-width:900px) {
    #currencyparamstyle {
        width: 15% !important;
        margin-top: 1px !important;
    }
    .bidtc {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }

    .rfqtc {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
