$color-base-bg: #1f5c92 !default;

$color-base-bg: #1f5c92 !default;

p {
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300))) !important;
}

.color-orange {
  color: #db5844 !important;
}

.bg-color-blue {
  color: #1f5c92 !important;
}

.text-white {
  color: white;
}

.multilineEllipseText {
  height: 90px;
  overflow: hidden;
}

.main-heading {
  font-size: calc(35px + (80 - 35) * ((100vw - 300px) / (1600 - 300))) !important;
}

.sub-heading {
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
}

.header {
  .logo-img {
    width: 200px;
    max-width: inherit;
    max-height: inherit;
  }

  .nav-item-child {
    font-size: 14px;
  }
}

.swiper-clients .swiper-slide {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 160px;
  .swiper-clients-img {
    width: 160px;
    object-fit: cover;
  }
}

.pricing .pricing-list-item {
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.tweets {
  height: 300px;
  overflow-y: auto;
}

/*------------------------------------------------------------------
  	[Testimonial]
------------------------------------------------------------------*/
.c-content-testimonial-3 {
  padding-bottom: 20px;
  > .c-content {
    padding: 29px;
    position: relative;
    &:after {
      top: 100%;
      left: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 15px;
      margin-left: -15px;
    }
    &:before {
      top: 100%;
      left: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 17px;
      margin-left: -17px;
    }
    > i {
      position: absolute;
      right: 20px;
      top: 20px;
      color: #ffffff;
    }
  }
  > .c-person {
    padding: 25px 0 0 25px;
    position: relative;
    > img {
      float: left;
      margin: 0 10px 0 0;
      border-radius: 50%;
      width: 70px;
    }
    > .c-person-detail {
      padding: 15px 0 12px 0;
      > .c-name {
        margin: 0;
      }
      > .c-position {
        margin: 3px 0 0 0;
      }
    }
  }
}
.c-content-testimonial-3.c-option-default {
  > .c-content {
    color: #5c6873;
    background: #ffffff;
    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
    }
  }
  > .c-person {
    > .c-person-detail {
      > .c-name {
        color: #5c6873;
      }
      > .c-position {
        color: #5c6873;
      }
    }
  }
}
.c-content-testimonial-3.c-option-light {
  > .c-content {
    color: #5c6873;
    background: #f4f5f7;
    &:after {
      border-color: rgba(244, 245, 247, 0);
      border-top-color: #f4f5f7;
    }
  }
  > .c-person {
    > .c-person-detail {
      > .c-name {
        color: #5c6873;
      }
      > .c-position {
        color: #5c6873;
      }
    }
  }
}
.c-content-testimonial-3.c-option-dark {
  > .c-content {
    color: #5c6873;
    background: #ffffff;
    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
    }
  }
  > .c-person {
    > .c-person-detail {
      > .c-name {
        color: #ffffff;
      }
      > .c-position {
        color: #5c6873;
      }
    }
  }
}
.c-content-testimonial-3.c-option-light-transparent {
  > .c-content {
    color: #5c6873;
    background: rgba(255, 255, 255, 0.5);
    &:after {
      border-top-color: rgba(255, 255, 255, 0.5);
    }
  }
  > .c-person {
    > .c-person-detail {
      > .c-name {
        color: #5c6873;
      }
      > .c-position {
        color: #5c6873;
      }
    }
  }
}
.c-content-testimonial-3.c-option-dark-transparent {
  > .c-content {
    color: #e4e7e9;
    background: rgba(0, 0, 0, 0.5);
    &:after {
      border-top-color: rgba(0, 0, 0, 0.5);
    }
  }
  > .c-person {
    > .c-person-detail {
      > .c-name {
        color: #ffffff;
      }
      > .c-position {
        color: #5c6873;
      }
    }
  }
}
@media (max-width: 991px) {
  .c-content-testimonial-3 {
    margin: 0;
    width: 100%;
    > .c-content {
      margin-left: 0;
    }
    > .c-person {
      float: left;
      > img {
        float: left;
        border-radius: 50%;
        width: 80px;
      }
      > .c-person-detail {
        margin-top: 5px;
        float: left;
      }
    }
  }
}

/*------------------------------------------------------------------
  	[END OF Testimonial]
------------------------------------------------------------------*/

/*------------------------------------------------------------------
  	[Accordion]
------------------------------------------------------------------*/

/* 991px */
.c-content-accordion-1.c-theme {
  .panel {
    > .panel-heading {
      > .panel-title {
        > a {
          background-color: $color-base-bg;
        }
        > a.collapsed {
          background-color: #ffffff;
          &:hover {
            background-color: $color-base-bg;
          }
          &:focus {
            background-color: $color-base-bg;
          }
        }
      }
    }
    > .panel-collapse {
      > .panel-body {
        background-color: $color-base-bg;
      }
    }
  }
}
.c-content-accordion-1 {
  .panel-group {
    margin-bottom: 0;
  }
  .panel {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    > .panel-heading {
      padding: 0;
      color: #ffffff;
      > .panel-title {
        padding: 0;
        margin: 0;
        > a {
          transition: all 0.2s;
          color: #fff;
          display: block;
          padding: 30px 30px 25px 30px;
          border-radius: 0;
          box-shadow: none;
          font-size: 18px;
          > i {
            margin-right: 5px;
            font-size: 17px;
          }
        }
        > a.collapsed {
          background-color: #fff;
          color: #3f444a;
          &:hover {
            color: #fff;
            transition: all 0.2s;
          }
          &:focus {
            color: #fff;
            transition: all 0.2s;
          }
        }
      }
    }
    > .panel-collapse {
      > .panel-body {
        border-top: none;
        padding: 0px 30px 35px 30px;
        color: #ffffff;
      }
    }
  }
}
.c-content-accordion-1.c-accordion-blue {
  .panel {
    > .panel-heading {
      > .panel-title {
        > a {
          background-color: #3498db;
        }
        > a.collapsed {
          background-color: #fff;
          &:hover {
            color: #fff;
            background-color: #3498db;
          }
          &:focus {
            color: #fff;
            background-color: #3498db;
          }
        }
      }
    }
    > .panel-collapse {
      > .panel-body {
        background-color: #3498db;
      }
    }
  }
}
.c-accordion-bordered {
  .c-content-accordion-1.c-accordion-blue {
    .panel {
      > .panel-heading {
        > .panel-title {
          > a {
            border: 2px solid #217dbb !important;
          }
        }
      }
      > .panel-collapse {
        > .panel-body {
          border: 2px solid #217dbb !important;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .c-content-accordion-1 {
    .c-accordion {
      margin: 0;
      padding: 0;
    }
  }
}

/*------------------------------------------------------------------
  	[End of Accordion]
------------------------------------------------------------------*/

/*------------------------------------------------------------------
  	[Form]
------------------------------------------------------------------*/

.form-element {
  position: relative;
  margin-top: 3.7rem;
  margin-bottom: 4.25rem;
}
.form-element-hint {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #a6a6a6;
  display: block;
}
.form-element-bar {
  position: relative;
  height: 1px;
  background: #999;
  display: block;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #17bed2;
    height: 2px;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.28s ease;
    will-change: transform;
  }
}
.form-element-label {
  position: absolute;
  top: 0.75rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a6a6a6;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
  will-change: transform, color, opacity;
}
.form-element-field {
  outline: none;
  background: none;
  border: 0 solid transparent;
  width: 100%;
  color: #333;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity 0.28s ease;
  will-change: opacity;
  &:-ms-input-placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
  }
  &::placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
  }
  &:focus {
    ~ {
      .form-element-bar {
        &::after {
          transform: rotateY(0deg);
        }
      }
      .form-element-label {
        color: #17bed2;
        transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
      }
    }
    opacity: 1;
  }
}
.form-element-field.-hasvalue {
  opacity: 1;
  ~ {
    .form-element-label {
      transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
      // cursor: pointer;
      // pointer-events: auto;
    }
  }
}
input.form-element-field {
  &:not(:placeholder-shown) {
    opacity: 1;
    ~ {
      .form-element-label {
        transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
        cursor: pointer;
        pointer-events: auto;
      }
    }
  }
}
textarea.form-element-field {
  &:not(:placeholder-shown) {
    opacity: 1;
    ~ {
      .form-element-label {
        transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
        cursor: pointer;
        pointer-events: auto;
      }
    }
  }
  height: auto;
  min-height: 3rem;
}
select.form-element-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.form-select-placeholder {
  color: #a6a6a6;
  display: none;
}

.form-checkbox,
.form-radio {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  text-align: left;
}

.form-radio-label {
  margin-left: -2px;
}

.form-checkbox-inline .form-checkbox-label,
.form-radio-inline .form-radio-label {
  display: inline-block;
  margin-right: 1rem;
}

.form-checkbox-legend,
.form-radio-legend {
  margin: 0 0 0.125rem 0;
  font-weight: 500;
  font-size: 1rem;
  color: #333;
}

.form-checkbox-label,
.form-radio-label {
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
  text-align: left;
  color: #333;
  display: block;
  margin-bottom: 0.5rem;
}

.form-checkbox-label:hover i,
.form-radio-label:hover i {
  color: #db5844;
}

.form-checkbox-label span,
.form-radio-label span {
  display: block;
  color: #545454;
}

.form-checkbox-label input,
.form-radio-label input {
  width: auto;
  opacity: 0.0001;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  margin: 0;
  padding: 0;
}

.form-checkbox-button {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  color: #999;
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  transition: color 0.28s ease;
  will-change: color;
}

.form-checkbox-button::before,
.form-checkbox-button::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #db5844;
  display: block;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
  will-change: opacity, height;
}

.form-checkbox-button::before {
  top: 1.2rem;
  left: 0.38rem;
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}

.form-checkbox-button::after {
  top: 0.7rem;
  left: 0;
  transform: rotate(-45deg);
}

.form-checkbox-field:checked ~ .form-checkbox-button {
  color: #db5844;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after,
.form-checkbox-field:checked ~ .form-checkbox-button::before {
  opacity: 1;
  transition: height 0.28s ease;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after {
  height: 0.5rem;
}

.form-checkbox-field:checked ~ .form-checkbox-button::before {
  height: 2rem;
  transition-delay: 0.28s;
}

.form-radio-button {
  position: absolute;
  left: 0;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}

.form-radio-button::before,
.form-radio-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  margin: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.28s ease, color 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
  will-change: transform, color;
}

.form-radio-button::after {
  transform: scale(0);
  background-color: #db5844;
  border-color: #db5844;
}

.form-radio-field:checked ~ .form-radio-button::after {
  transform: scale(0.5);
}

.form-radio-field:checked ~ .form-radio-button::before {
  color: #db5844;
}

.form-has-error .form-checkbox-button,
.form-has-error .form-radio-button {
  color: #d9534f;
}

/*------------------------------------------------------------------
  	[End of Form]
------------------------------------------------------------------*/

/*------------------------------------------------------------------
  	[masonry]
------------------------------------------------------------------*/

.masonry-grid-second-row {
  margin-top: 100px;
}

.masonry-grid-item:nth-child(even) {
  img {
    margin-top: 60px;
  }
}

.masonry-grid-item:nth-child(odd) {
  img {
    margin-bottom: 60px;
  }
}

/*------------------------------------------------------------------
  	[offering]
------------------------------------------------------------------*/

.offering-details-wrapper {
  margin-top: 100px;
  .offering-details-overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .offering-details-desc {
      margin-bottom: 100px;
    }

    .offering-details-desc img {
      width: 30%;
    }
  }
}

//orientation : landscape

@media only screen and (max-device-width: 767px) {
  .multilineEllipseText {
    height: 84px;
  }

  .masonry-grid-second-row {
    margin-top: 0px;
  }

  .masonry-grid-item-reversed {
    display: flex;
    flex-direction: column-reverse;
  }

  .masonry-grid-item:nth-child(even) {
    img {
      margin-top: 0;
    }
  }

  .masonry-grid-item:nth-child(odd) {
    img {
      margin-bottom: 0;
    }
  }

  .masonry-grid-item {
    img {
      margin: 10px 0 60px !important;
    }
  }

  .offering-details-wrapper {
    .offering-details-overview {
      flex-direction: column !important;

      .offering-details-desc {
        margin-bottom: 70px;
      }

      .offering-details-desc img {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .main-heading {
    font-size: calc(25px + (80 - 25) * ((100vw - 300px) / (1600 - 300))) !important;
  }

  .btn-slider {
    // display: none;
    float: right;
    padding: 10px 20px;
  }

  .carousel-centered {
    top: calc(50% + 47px);
    left: 15px;
    right: 15px;
  }
}

// Modal

.modal-header {
  background-color: #db5844;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-bottom: none;

  .close {
    span {
      font-size: 25px;
    }
  }
}

.modal-body {
  min-height: 100px;
  display: flex;
}

.modal-footer.button {
  display: flex;
  justify-content: flex-end;
}
